$jbg-header-h: 40px;
$jbg-drawer-w: 56px;
$jbg-color-green-1: #059900;
$jbg-color-green-2: #0c6309;
$jbg-color-gray: #797979;
$jbg-main-bg: linear-gradient(90deg, $jbg-color-green-1, $jbg-color-green-2);
